beautifulsoup4==4.9.3
blis==0.7.4
catalogue==2.0.4
certifi==2020.12.5
chardet==3.0.4
ChatterBot==1.0.0
chatterbot-corpus==1.2.0
click==7.1.2
comtypes==1.1.10
cycler==0.10.0
cymem==2.0.5
dj-database-url==0.5.0
Django==2.1
django-heroku==0.3.1
docopt==0.6.2
EasyProcess==0.3
entrypoint2==0.2.4
fanstatic==1.1
Flask==1.1.2
geographiclib==1.50
geopy==2.1.0
googletrans==4.0.0rc1
gTTS==2.2.1
gunicorn==20.1.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.12.22
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.1
js==1.0
Js2Py==0.71
kiwisolver==1.3.1
MarkupSafe==1.1.1
mathparse==0.1.2
matplotlib==3.4.1
MouseInfo==0.1.3
mss==6.1.0
murmurhash==1.0.5
mysql-connector==2.2.9
mysql-connector-python==8.0.22
nltk==3.6.2
numpy==1.20.2
packaging==20.9
Paste==3.5.0
pathy==0.5.2
Pillow==8.2.0
Pint==0.17
pipwin==0.5.1
plyer==2.0.0
preshed==3.0.5
protobuf==3.14.0
psutil==5.8.0
psycopg2==2.8.6
PyAudio @ file:///C:/Users/MURALI%20KRISHNA/pipwin/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
PyAutoGUI==0.9.52
pydantic==1.7.3
PyGetWindow==0.0.9
pyjsparser==2.7.1
pymongo==3.11.3
PyMsgBox==1.0.9
pynotify==0.1.1
pyparsing==2.4.7
pyperclip==1.8.2
pypiwin32==223
PyPrind==2.11.3
PyRect==0.1.4
pyscreenshot==2.3
PyScreeze==0.1.26
pySmartDL==1.3.4
python-dateutil==2.7.5
pyttsx3==2.90
pytube==10.7.1
PyTweening==1.0.3
pytz==2020.4
pywhatkit==4.1
pywin32==300
PyYAML==3.13
razorpay==1.2.0
regex==2021.4.4
requests==2.25.0
rfc3986==1.4.0
selenium==3.141.0
shutilwhich==1.1.0
six==1.15.0
smart-open==3.0.0
sniffio==1.2.0
soupsieve==2.2.1
spacy==3.0.6
spacy-legacy==3.0.5
SpeechRecognition==3.8.1
speedtest-cli==2.1.3
SQLAlchemy==1.2.19
srsly==2.4.1
stripe==2.56.0
thinc==8.0.3
touch==2020.12.3
tqdm==4.60.0
typer==0.3.2
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.2
values==2020.12.3
wasabi==0.8.2
WebOb==1.8.6
Werkzeug==1.0.1
whitenoise==5.2.0
wikipedia==1.4.0
